﻿@using System.Linq;
<div id="detalleArchivos">
    @using Gestor_Administrativo.Models.Generales
    @using Monibyte.Arquitectura.Web.Nucleo
    @using Gestor_Administrativo.Configuracion
    @{
        var model = ViewBag.Model as List<ArchivosCierre>;
        model = model != null ? model : new List<ArchivosCierre>();
        var reCarga = model.Where(x => x.FecUltimaCarga < DateTime.Now.Date
            || x.FecUltimaCarga == null).GroupBy(x => x.NombreProceso)
            .Select(x => new ArchivosCierre
            {
                IdCierre = x.FirstOrDefault().IdCierre,
                NombreProceso = x.FirstOrDefault().NombreProceso
            }).OrderBy(x => x.IdCierre);
        var Entidad = ViewBag.Entidad as string;
        var IdCierre = (ViewBag.IdCierre as string).Split(',');
        var connStringMnb = AppConfiguracion.Instance.ConnectionStringMnb;
        var connString = AppConfiguracion.Instance.ConnectionString;
        var nomGrid = ViewBag.GridCierre as string;
        var esDialogo = ViewBag.IsDialog as bool?;
    }
    <style>
        tr, .k-alt {
            background-color: #246b36;
            color: white !important;
        }

        .error-row {
            background-color: #ca4343 !important;
        }

            .error-row td {
                color: white !important;
            }

        .pending-row {
            background-color: yellow !important;
            color: black !important;
        }

        .freeze-row {
            background-color: #1F9CF5 !important;
        }
    </style>


    <script>
        $(document).ready(function () {
                $("#id"+"@Entidad").attr('class', 'active');
            $(".recargar").on("click", function () {
                var connect = $(this).attr("conection");
                var idCierre = $(this).attr("idCierre");
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: '@Url.Action("ActualizaCierre", "Home")',
                    data: JSON.stringify({ "conection": connect, "idCierre": idCierre }),
                    success: function () {
                        $(".btn-primary").click();
                    }
                });
            });

            $('#exampleModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget) // Button that triggered the modal
                var recipient = button.data('whatever') // Extract info from data-* attributes
                // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                var modal = $(this)
                modal.find('.modal-title').text('New message to ' + recipient)
                modal.find('.modal-body input').val(recipient)
            })

        });
    </script>


    <button type="button" style="display:none;" class="btn btn-primary" data-toggle="modal" data-target="#SuccessModal"></button>

    <div class="modal fade" id="SuccessModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Envio Carga de Archivo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Envio de Solicitud Exitoso
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>


    @*@if (Entidad == "LFSCR")
        {
            foreach (var id in IdCierre)
            {
                var label = "Cargar Archivos Cierre: " + id;
                <input type="button" conection="@connStringMnb" idcierre="@id"
                       value="@label" class="recargar btn btn-success" />


            }
        }
        else
        {
            var conecttion = string.Format(connString, Entidad);
            <input type="button" conection="@conecttion" idcierre="@IdCierre[0]"
                   value="Cargar Archivos" class="recargar btn btn-success" />
        }*@

    @if (reCarga.Any())
    {
        <h2>Lista de Cierres Por Correr</h2>
        <div class="contenedorComponente k-content kendo-responsive-grid-content">
            @(Html.Kendo().Grid<ArchivosCierre>().Name(nomGrid).BindTo(reCarga)
                    .EnableCustomBinding(true)
                    .Columns(columns =>
                    {
                        columns.Bound(p => p.IdCierre);
                        columns.Bound(p => p.NombreProceso);
                        columns.Template(o => Html.Kendo().Button().Name("BUTTON")
                            .Content("Correr Cierre")
                            .HtmlAttributes(new
                            {
                                @value = string.Format("Correr {0}", o.NombreProceso),
                                idcierre = o.IdCierre,
                                conection = connStringMnb,
                                @class = "recargar btn btn-success"
                            }).ToHtmlString());
                    }))
        </div>
    }



    <h2>Lista de Archivos</h2>

    <div class="contenedorComponente k-content kendo-responsive-grid-content">
        @(Html.Kendo().Grid<ArchivosCierre>().Name(nomGrid).BindTo(model)
                .RowAction(row =>
                {
                    if (row.DataItem.FecUltimaCarga < DateTime.Now.Date
                        || (row.DataItem.FecUltimaCarga == null))
                    {
                        row.HtmlAttributes["class"] = "error-row";
                    }
                })
                .Columns(columns =>
                {
                    columns.Bound(p => p.IdCierre);
                    columns.Bound(p => p.NombreProceso);
                    columns.Bound(p => p.NombreArchivo);
                    columns.Bound(p => p.RutaArchivo);
                    columns.Bound(p => p.FecUltimaCarga).Width(40)
                        .Template(x =>
                        {
                            var fecFinaliza = x.FecUltimaCarga;
                            if (fecFinaliza.HasValue)
                                return fecFinaliza.Value.ToString("dd/MMM/yyyy hh:mm tt");
                            return string.Empty;
                        }).Width(150);
                }))
    </div>

    @if (esDialogo == true)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                $("#detalleArchivos").dialog({
                    width: 800,
                    title: "@Html.Raw("")"
                });
                $("#detalleArchivos").dialog("open");
            });
        </script>
    }

</div>