﻿@using Gestor_Administrativo.Models.Generales
@using Monibyte.Arquitectura.Web.Nucleo
@{
    var model = ViewBag.Model as List<CierreSistema>;
    var nomGrid = ViewBag.GridCierre as string;
}
<style>
    tr, .k-alt {
        background-color: #246b36;
        color: white !important;
    }

    .error-row {
        background-color: #ca4343 !important;
    }

        .error-row td {
            color: white !important;
        }

    .pending-row {
        background-color: yellow !important;
        color: black !important;
    }

    .freeze-row {
        background-color: #1F9CF5 !important;
    }

    .glyphicon-folder-open {
        margin-right: 7px;
    }
</style>


<div class="contenedorComponente k-content kendo-responsive-grid-content">
    @if (model != null && model.Any())
    {
        @(Html.Kendo().Grid<CierreSistema>().Name(nomGrid).BindTo(model)
                .RowAction(row =>
                {
                    if (row.DataItem.DesEstadoEjecucion == "ERROR"
                        || (row.DataItem.AplicaArchivo && row.DataItem.NoCargado))
                    {
                        row.HtmlAttributes["class"] = "error-row";
                    }
                    if (row.DataItem.DesEstadoEjecucion == "PENDIENTE")
                    {
                        row.HtmlAttributes["class"] = "pending-row";
                    }
                    if (row.DataItem.DesEstadoEjecucion == "CONGELADO" ||
                        row.DataItem.DesEstadoEjecucion == "HORA CONGELADA")
                    {
                        row.HtmlAttributes["class"] = "freeze-row";
                    }

                })
                //.ToolBar(t => t.Template(
                //  "<button type='button' class='verDetalle btn btn-info'> " +
                // "<span class='glyphicon glyphicon-folder-open' aria-hidden='true'></span>Ver Archivos</button>"))
                .Columns(columns =>
                {
                    columns.Bound(p => p.Descripcion).Title("Descripción");
                    columns.Bound(p => p.DesEstadoEjecucion).Width(40).Title("Estado Ejecución");
                    columns.Bound(p => p.HoraEjecucion).Width(40).Title("Hora de Ejecución");
                    columns.Bound(p => p.HoraUltEjecucion).Width(40).Title("Última Ejecución")
                        .Template(x =>
                        {
                            var val = x.HoraUltEjecucion;
                            if (val.HasValue)
                            {
                                return val.Value.ToString("dd/MMM/yyyy hh:mm tt");

                            }
                            return string.Empty;
                        }).Width(150);
                    columns.Bound(p => p.FecInicio).Width(40).Title("Inicio Proceso")
                        .Template(x =>
                        {
                            var fecInicio = x.FecInicio;
                            if (fecInicio.HasValue)
                                return fecInicio.Value.ToString("dd/MMM/yyyy hh:mm tt");
                            return string.Empty;
                        }).Width(150);
                    columns.Bound(p => p.FecFinaliza).Width(40).Title("Finaliza Proceso")
                        .Template(x =>
                        {
                            var fecFinaliza = x.FecFinaliza;
                            if (fecFinaliza.HasValue)
                                return fecFinaliza.Value.ToString("dd/MMM/yyyy hh:mm tt");
                            return string.Empty;
                        }).Width(150);
                }))
    }
</div>


<script>
    $(document).ready(function () {
        $("#primary").attr('class', 'active');
    });
</script>
