﻿@using Gestor_Administrativo.Configuracion;
@{
    var instancia = AppConfiguracion.Instance.InstaciaSQL;
    var separadorIns = instancia.Split(',');
    var connStringMnb = AppConfiguracion.Instance.ConnectionStringMnb;
    var connString = AppConfiguracion.Instance.ConnectionString;
}
<style>
    .Titulo {
        margin-top: 10px;
        margin-left: 10px;
        font-size: 15px;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        $("#enviarCorreo").on("click", function () {
            $monibyte.executeAjax({
                async: false,
                actionUrl: "@Url.Action("EnviarCorreo", "Home", new { @area=""})",
                jsonData: {
                    Mensaje: $("#Mensaje").val()
                },
                callback: function (data) {
                    if (data) {
                        $("#exampleModal .close").click()
                    } else {
                        alert("A Ocurrido un Error")
                    }
                },
                success: function (response) {
                    alert("success");
                }
            });
        });

        @*$(".verDetalle").on("click", function () {
            var gridName = $(this).parent().parent().attr("id");
            $monibyte.executeAjax({
                targetId: "listadoArchivos",
                actionUrl: "@Url.Action("ValidaArchivos", "Home")",
                jsonData: { listado: gridName }
            });
        });*@

    });

    $('#exampleModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var recipient = button.data('whatever') // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        modal.find('.modal-title').text('New message to ' + recipient)
        modal.find('.modal-body input').val(recipient)
    })

</script>

<div id="listadoArchivos"></div>
<div id="notificacion"></div>

@foreach (var c in separadorIns)
{
    <div class="contenedorComponente k-content div-cierre">
        @if (c != "LFSCR")
        {
            MvcHtmlString _lblHtml = null;
            switch (c)
            {
                case "LFSNIC":
                    _lblHtml = Html.Label("CIERRE NICARAGUA", new { @class = "Titulo" });
                    break;
                case "LFSDOM":
                    _lblHtml = Html.Label("CIERRE REPÚBLICA DOMINICANA", new { @class = "Titulo" });
                    break;
                case "LFSPAN":
                    _lblHtml = Html.Label("CIERRE PANAMÁ", new { @class = "Titulo" });
                    break;
                case "LYSTO":
                    _lblHtml = Html.Label("CIERRE LYSTO", new { @class = "Titulo" });
                    break;
                case "CAFSA":
                    _lblHtml = Html.Label("CIERRE CAFSA", new { @class = "Titulo" });
                    break;
            }
            @_lblHtml  

            connString = string.Format(AppConfiguracion.Instance.ConnectionString, c);
            @Html.Action("ValidaCierres", "Home", new { conection = connString, instanciaSQL = c })
            @Html.Action("ArchivoMaestro", "Home", new { conection = connString, instanciaSQL = c })
        }
        else
        {
            @Html.Label("CIERRE COSTA RICA", new { @class = "Titulo" })

            <button id="descargarPDF" type="button" class="btn btn-default btn-lg" data-toggle="modal"
                    data-target="#exampleModal">
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Enviar Correo
            </button>


            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Envio de Correo</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="recipient-name" class="form-control-label">Mensaje:</label>
                                    <textarea name="Mensaje" id="Mensaje" placeholder="Mensaje" style="height:90px;
                                        width:100%; font-size: 17px;"></textarea>
                                </div>

                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary" id="enviarCorreo">Enviar Correo</button>
                        </div>
                    </div>
                </div>
            </div>

            @Html.Action("ValidaCierres", "Home", new { conection = connStringMnb, instanciaSQL = c })
            @Html.Action("ArchivoMaestro", "Home", new { conection = connStringMnb, instanciaSQL = c })
        }
    </div>
}


@*<div id="dialogMessage" class="alert alert-success" role="alert">
        <h4 class="alert-heading">Notificación por Correo</h4>
        <textarea name="Mensaje" id="Mensaje" placeholder="Mensaje" style="height:90px; width:100%"></textarea>
    </div>*@



<style>
    #descargarPDF {
        float: right;
        margin-top: 5px;
        background-color: #246b36;
        color: white;
    }

    .ui-dialog-titlebar-close {
        float: right;
    }

    .ui-dialog {
        border-style: solid;
        background-color: #c5c5c5;
    }

    .ui-dialog-buttonset:last-of-type button {
        margin-right: 10px;
    }

    .contenedorComponente {
        margin-top: 20px;
    }
</style>
