﻿.ui-dialog {
    padding: 0;
    overflow: hidden;
}

.k-overlay {
    opacity: 0.1 !important;
}

.blockUI.blockOverlay {
    opacity: 0 !important;
}

.blockUI.blockMsg.blockPage {
    border: 0 !important;
    width: auto !important;
    background-color: transparent !important;
}

/****K.WONDOW***/

.k-widget.k-window {
    color: #000;
    border-radius: 0;
    border: solid 1px #ccc;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #fffffc 18%, #e5e5e5 81%, #d3d3d3 92%, #c9c9c9 98%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(18%,#fffffc), color-stop(81%,#e5e5e5), color-stop(92%,#d3d3d3), color-stop(98%,#c9c9c9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#fffffc 18%,#e5e5e5 81%,#d3d3d3 92%,#c9c9c9 98%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#fffffc 18%,#e5e5e5 81%,#d3d3d3 92%,#c9c9c9 98%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#fffffc 18%,#e5e5e5 81%,#d3d3d3 92%,#c9c9c9 98%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#fffffc 18%,#e5e5e5 81%,#d3d3d3 92%,#c9c9c9 98%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c9c9c9',GradientType=0 ); /* IE6-9 */
}

    .k-widget.k-window .k-content {
        font-size: 0.75em;
        background-color: transparent;
    }

        .k-widget.k-window .k-content input[type="text"]:not(.k-input) {
            color: #667;
            border: solid 1px #ccc;
        }

        .k-widget.k-window .k-content input[type="text"].input-validation-error {
            border: 1px solid red;
        }

        .k-widget.k-window .k-content .contenedorComponente {
            font-size: 11px;
        }

.k-window-titlebar.k-header {
    color: #FFFFFF;
    font-size: 14px;
    border-radius: 0;
    text-align: left;
    background: #F59423;
    font-weight: normal;
    text-transform: uppercase;
    font-family: 'Nunito',sans-serif;
}

    .k-window-titlebar.k-header span:hover {
        cursor: pointer;
    }

div.k-window-content {
    overflow: hidden;
    padding: 0;
}

.k-grid .k-delete {
    background-image: url('imagenes/iconos/garbage-icon(16).png');
    background-position: 0 0;
}

/********K.WINDOW*******+*/

/*.ui-widget input {
    color: #666;
    font-size: 14px;
    text-align: left;
}

.ui-dialog .ui-dialog-titlebar {
    color: #F99A00;
    margin-top: 0;
    margin-bottom: 0;
    padding: 2px 0 5px 10px;
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}

.ui-dialog .ui-dialog-titlebar h1 {
    font-size: 17px;
    padding: 0;
    margin: 0;
    text-shadow: 1px 1px 1px #222;
}

.ui-dialog .ui-dialog-title {
    overflow: visible;
}

.ui-widget-content {
    background-color: #FFF;
    background: #FFF;
    border: solid 1px #4A747A;
}

    .ui-widget-content a {
        color: #666;
    }

.ui-dialog .ui-dialog-content {
}*/

.no-title .k-window-titlebar.k-header {
    padding: 0.2em 0;
    position: relative;
}

/*.k-widget.k-window > div.k-window-content .ui-dialog-buttonpane {
    margin-left: -6px;
    margin-right: -6px;
}*/

.k-widget.k-window .ui-dialog-buttonpane {
    margin-top: 0;
    margin-top: 15px;
    text-align: right;
    padding: 7px 0 0 0;
    border-width: 2px 0 0 0;
    border-top: solid 2px #4f787e;
}

.ui-dialog-buttonpane {
    padding-top: 10px;
    width: 100%;
    text-align: right;
    float: right;
    margin-bottom: 0;
    border-width: 2px 0 0 0;
    border-top: solid 2px #4A747A;
}

.ui-dialog .ui-dialog-buttonpane {
    margin-top: 0;
    border-width: 2px 0 0 0;
    padding: 0 7px 0 7px;
}

.ui-dialog-buttonpane .ui-accept-btn,
.formulario input[type="submit"].ui-accept-btn {
    margin: 5px 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px 15px;
    font-size: 12px;
    color: #666;
}

.ui-dialog-buttonpane .ui-cancel-btn {
    margin: 5px 15px 5px 5px;
}

.ui-dialog-buttonpane .ui-accept-btn,
.ui-dialog-buttonpane .ui-cancel-btn {
    color: #666;
    cursor: pointer;
    font-size: 11px;
    padding: 5px 15px;
    text-transform: uppercase;
}

    .ui-dialog-buttonpane .ui-accept-btn:hover,
    .ui-dialog-buttonpane .ui-accept-btn:focus {
        color: #FFFFFF;
    }

.containerRangoFecha span.k-datepicker {
    width: 125px;
}

.formulario .containerRangoFecha .k-input {
    width: 100%;
    min-width: inherit;
}

.rangoFecha .k-input {
    min-width: 60px;
}

.rangoFecha .k-picker-wrap.k-state-default {
    width: 106px;
}

.rangoFecha span.k-datepicker {
    width: 126px;
}

.k-grid-content {
    min-height: 200px;
}

.k-widget.k-combobox.k-header > .k-dropdown-wrap.k-state-default {
    display: block;
}

.k-dropdown-wrap .k-input,
.k-picker-wrap .k-input,
.k-numeric-wrap .k-input,
.k-numeric-wrap.k-expand-padding .k-input,
.k-autocomplete.k-state-default,
.k-numeric-wrap.k-state-default,
.k-picker-wrap.k-state-default,
.k-dropdown-wrap.k-state-default,
.k-autocomplete.k-state-border-up .k-input,
.k-numeric-wrap.k-state-border-up .k-input,
.k-picker-wrap.k-state-border-up .k-input,
.k-dropdown-wrap.k-state-border-up .k-input,
.k-autocomplete.k-state-border-down .k-input,
.k-numeric-wrap.k-state-border-down .k-input,
.k-picker-wrap.k-state-border-down .k-input,
.k-dropdown-wrap.k-state-border-down .k-input,
.k-autocomplete.k-state-hover,
.k-numeric-wrap.k-state-hover,
.k-picker-wrap.k-state-hover,
.k-dropdown-wrap.k-state-hover {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #c5c5c5;
}

.k-datepicker {
    height: 25px;
}

span.k-tooltip {
    position: absolute;
}

.k-tabstrip {
    background: none;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

    .k-tabstrip .k-content {
        margin: 0; /*padding: 0;*/
        border: none;
    }

    .k-tabstrip .k-tabstrip-items {
        margin-bottom: 0;
        padding-bottom: 0;
        padding: 5px 0 0 3px;
        border-bottom: solid 1px #c5c5c5;
    }

        .k-tabstrip .k-tabstrip-items .k-state-active {
            border-color: /*#c5c5c5*/ #f7971d;
        }

    .k-tabstrip .k-content.k-state-active {
        padding-top: 1%;
    }

    .k-tabstrip .k-state-active, .k-state-active, .k-state-active:hover {
        border-color: #c5c5c5;
    }

.k-dropdown .k-input {
    height: 20px;
}

.k-popup .k-list .k-item {
    font-size: 12px;
}

.k-loading-mask {
    display: none;
}

.k-grid .k-grid-header .k-header .k-link {
    height: auto;
}

.k-grid .k-grid-header .k-header {
    white-space: normal;
}

.k-grid-header .k-header .k-link:hover {
    background: #dbdbdb; /* Old browsers */
    background: -moz-linear-gradient(top, #dbdbdb 1%, #bababa 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#dbdbdb), color-stop(100%,#bababa)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #dbdbdb 1%,#bababa 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #dbdbdb 1%,#bababa 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #dbdbdb 1%,#bababa 100%); /* IE10+ */
    background: linear-gradient(to bottom, #dbdbdb 1%,#bababa 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbdbdb', endColorstr='#bababa',GradientType=0 ); /* IE6-9 */
    cursor: move;
}

.k-grid-icons {
    margin-left: 10px;
}

    .k-grid-icons:hover {
        opacity: 0.8;
    }

.k-grid-options {
    width: auto;
    position: static;
}

.k-grouping-header {
    font-weight: bold;
    padding-left: 10px;
    color: #F99A00;
}

.k-notification.k-notification-success {
    width: 325px;
    border: none;
    background-color: #000 !important;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    box-shadow: 0 0 5px #000;
    -moz-box-shadow: 0 0 5px #000;
    -webkit-box-shadow: 0 0 5px #000;
    background: url('imagenes/iconos/app-clean-icon.png') #000 no-repeat 20px 3px;
}

    .k-notification.k-notification-success .k-notification-wrap {
        margin: 0;
        padding: 0;
    }

    .k-notification.k-notification-success h2 {
        margin: 0;
        font-size: 17px;
        display: inline-block;
        color: rgb(183, 206, 224);
        padding: 5px 5px 5px 55px;
    }

    .k-notification.k-notification-success .k-icon.k-i-note {
        display: none;
    }

.k-list-container {
    min-width: 300px;
}

.k-list-link {
    position: absolute;
    top: -23px;
    right: 0;
    text-decoration: inherit;
}
