﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/content/css", "~/scripts/modernizr")
    @Scripts.Render("~/Scripts/jquery", "~/Scripts/validate")
    
</head>
<body>
    @Html.Partial("_Header")
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Cierres MNB</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li id="primary">@Html.ActionLink("Valida Cierres", "Index", "Home")
                    </li>
                    <li class="nav-item" id="idLFSCR">
                        @Html.ActionLink("Archivos LFCR", "ValidaArchivos", "Home",
                new { @entidad = "LFSCR", @idCierre = "1,6" }, null)
                    </li>
                    <li class="nav-item" id="idLFSNIC">
                        @Html.ActionLink("Archivos LFNIC", "ValidaArchivos", "Home",
                new { @entidad = "LFSNIC", @idCierre = "1" }, null)
                    </li>
                    <li class="nav-item" id="idLFSPAN">
                        @Html.ActionLink("Archivos LFPAN", "ValidaArchivos", "Home",
                new { @entidad = "LFSPAN", @idCierre = "1" }, null)
                    </li>
                    <li class="nav-item" id="idLFSPAN">
                        @Html.ActionLink("Archivos LFDOM", "ValidaArchivos", "Home",
                new { @entidad = "LFSDOM", @idCierre = "1" }, null)
                    </li>
                    <li class="nav-item" id="LYSTO">
                        @Html.ActionLink("Archivos LYSTO", "ValidaArchivos", "Home",
                new { @entidad = "LYSTO", @idCierre = "1" }, null)
                    </li>
                    <li class="nav-item" id="CAFSA">
                        @Html.ActionLink("Archivos CAFSA", "ValidaArchivos", "Home",
                new { @entidad = "CAFSA", @idCierre = "1" }, null)
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="pagewrap">
        @RenderBody()
    </div>

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-83231771-1', 'auto');
        ga('send', 'pageview');

    </script>
</body>

</html>
